<%- include("partials/header") -%>


	<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eius illo necessitatibus quibusdam ullam molestiae non
		eveniet illum itaque sapiente impedit exercitationem, sit aliquam quas laborum perspiciatis hic, reiciendis
		consequatur expedita.
	</p>

	<%- include("partials/footer") -%>