<%- include("partials/header") -%>

	<div class="work-area">
	<div class="addtodo ">
		<h1>Set your task</h1>
		<form action="/add" method="post">
			<div class="form-group">
				<input type="text" class="form-control" name="newtodo" placeholder="Enter new Todo" required>
			</div>
			<button class="btn btn-primary" type="submit" padding-left: 261px;>Submit</button>
		</form>
	</div>
	<div>
		<ul>
			<% x.forEach(function(item){ %>
				<li class="list-group-item todo">
					<div class="indi-todo">
						<div >
							<%= item.todo %>
						</div>
						<form action="/delete" method="post">
							<input type="hidden" name="todoid" value="<%=item._id%>">
							<input type="submit" value="Delete" class="btn btn-warning form-control">

						</form>
					</div>
				</li>

				<% }) %>
		</ul>
	</div>
	</div>

	<%- include("partials/footer") -%>