/* h1 {
  background-color: #7459eb;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.box {
  max-width: 400px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

 #heading {
  background-color: #A683E3;
  text-align: center;
} 

.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f1f1f1;
}

.item:last-child {
  border-bottom: 0;
}

input:checked + p {
  text-decoration: line-through;
  text-decoration-color: #a683e3;
}

input[type="checkbox"] {
  margin: 20px;
}

 p {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 200;
  color: #00204a;
} 

form.item {
  text-align: center;
  display: inline-block;
}
.wrap-it {
	
		overflow-wrap: break-word;
}

button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #a683e3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: inset 0 -3px 0 0 #a683e3;
}

::placeholder {
  color: grey;
  opacity: 1;
}

footer {
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

a {
  color: rgb(199 4 4);
} */

/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body {
  margin: 20px 40px;
  font-size: 1.2rem;
  letter-spacing: 1px;
  background: #fafafa;
}
.custom_nav h1,
.custom_nav h2,
.custom_nav h3,
.custom_nav h4,
.custom_nav ul,
.custom_nav li,
.custom_nav a,
.custom_nav p,
.custom_nav input,
.custom_nav label,
.custom_nav button,
.custom_nav div,
.custom_nav footer {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #444;
}

.custom_nav h1 {
  text-align: center;
}

.custom_nav ul {
  list-style-type: none;
}

.custom_nav a {
  text-decoration: none;
}
.custom_nav nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 53px;
}
.custom_nav nav ul {
  display: flex;
  align-items: center;
}
.custom_nav nav li {
  margin-left: 20px;
}
.custom_nav nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
#custom_nav .btn {
  border-radius: 36px;
  background: #fee996;
}
.custom_nav form h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 40px;
}
.custom_nav form {
  width: 360px;
  margin: 0 auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background: white;
}
.custom_nav input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1em;
  width: 100%;
}
.custom_nav label {
  display: block;
  margin: 20px 0 10px;
}
.custom_nav button {
  margin-top: 30px;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
}
.custom_nav .error {
  color: #ff0099;
  margin: 10px 2px;
  font-size: 0.8em;
  font-weight: bold;
}
.custom_nav header {
  display: flex;
  align-items: center;
}
.custom_nav header img {
  width: 250px;
  margin-right: 40px;
}
.custom_nav header h2 {
  font-size: 3em;
  margin-bottom: 10px;
}
.custom_nav header h3 {
  font-size: 1.6em;
  margin-bottom: 10px;
  margin-left: 2px;
  color: #999;
}
.custom_nav header .btn {
  margin-top: 20px;
  padding: 12px 18px;
  text-transform: uppercase;
  font-weight: bold;
  display: inline-block;
  font-size: 0.8em;
}

footer {
  text-align: center;
  margin-top: 120px;
  color: #aaa;
}
.todo {
  width: 45vw;
  margin: 0 auto;
  font-family: "Times New Roman", Times, serif;

  display: flex;
  flex-direction: row;
}
div.b {
  width: 80%;
  word-wrap: break-word;
}

.addtodo h1 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.addtodo input {
  margin: 0 auto;
  width: 45vw;
}
.addtodo input[placeholder] {
  font-family: cursive;
  font-size: 1.3vw;
  font-style: oblique;
  text-align: center;
  font-weight: 600;
}
.addtodo button {
  margin: 0 auto 1.5vw auto;
  display: block;
}
.todo {
  width: 45vw;
  margin: 0 auto;
  border-left: 6px solid #2196f3;
  background-color: rgb(231, 241, 240);
}
.indi-todo {
  display: grid;
  grid-template-columns: 37vw auto;
}
.indi-todo div {
	font-size: 1.75vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-wrap: break-word;
}

.work-area {
  background-color: rgb(237, 239, 245);
  padding-bottom: 0.1vw;
  border-radius: 1%;
}

/* .workarea{
	display: flex;
	flex-direction: column;
}
.flex_container{
	display: flex;
	flex-direction: row;
	align-items: center;
	
} */

/*.todos {
  text-align: center;
  overflow-wrap: break-word;
  width: 40vw;
  padding: 4px;
  margin: 0 auto;
  background-color: rgb(187, 230, 233);
  color: rgb(238, 216, 20);
  font-family: "Courier New", Courier, monospace;
}
 .todo button {
  min-height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #a683e3;
  color: #fff;
  font-size: 20px;
  padding-bottom: 6px;
  position: absolute;
  cursor: pointer;
  margin: -28px 0px 10px 500px;
}
.todo form {
  padding: 0px;
  width: 50px;
  margin: 0px;
}

.todo {
  border-style: solid solid solid solid;
  border-width: 2px;
  border-color: rgb(129, 63, 235);
  padding-bottom: 6px;
} */
